* {
	-webkit-user-select: none;
	user-select: none;
}

body {
	background-color: #fff;
}

:root[data-theme='light'] {
	--title-bar-bg: #f0f0f0;
	--title-button-color: #000000;
	--title-button-hover: rgba(0, 0, 0, 0.1);
	--title-close-hover: #e81123;
}

:root[data-theme='dark'] {
	--title-bar-bg: #1a1a1a;
	--title-button-color: #ffffff;
	--title-button-hover: rgba(255, 255, 255, 0.1);
	--title-close-hover: #e81123;
}
